@using PersonalWebsite.Components.Layout.NavMenu
@using PersonalWebsite.Components.AnnouncementBanner
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <AnnouncementBanner HREF="https://learn.microsoft.com/aspnet/core/" Target="About Microsoft Blazor ..." />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
