@code {
    [Parameter] public string? FullURL { get; set; }
}

<div class="git-hub-link">
    <a href="@FullURL" target="_blank" rel="noopener noreferrer">
        View this page on GitHub
    </a>
</div>
