@page "/connect-collaborate"
@using PersonalWebsite.Components.GitHubLink
@using PersonalWebsite.Components.CallToAction
@inherits BasePage

<PageTitle>Mark J. Hogan - Connect & Collaborate</PageTitle>

<div class="container">
    <GitHubLink FullURL="@GitHubLinkUrl" />
    <CallToAction />
</div>

@code {
    protected override string FilePath => "Pages/ConnectCollaborate.razor";
}