@page "/infrastructure-legacy-systems-engineering-addendum"
@using PersonalWebsite.Components.GitHubLink
@inherits BasePage

<PageTitle>Infrastructure Legacy Systems Engineering Addendum</PageTitle>

<div class="container">
    <GitHubLink FullURL="@GitHubLinkUrl" />
    <h1>Infrastructure Legacy Systems Engineering Addendum</h1>
    <iframe src="files/2025 - Resume - Legacy Technology.pdf" class="pdf-viewer"></iframe>
    <p>
        <a href="files/2025 - Resume - Legacy Technology.pdf" target="_blank" download>
            Download Infrastructure Legacy Systems Engineering Addendum
        </a>
    </p>
</div>

@code {
    protected override string FilePath => "Pages/InfrastructureLegacySystemsEngineeringAddendum.razor";
}