@page "/problem-solving-profile-document"
@using PersonalWebsite.Components.GitHubLink
@inherits BasePage

<PageTitle>🛠️ Problem Solving Portfolio</PageTitle>

<div class="container">
    <GitHubLink FullURL="@GitHubLinkUrl" />
    <h1>Problem Solving Portfolio</h1>
    <iframe src="files/2025 - Resume - Problem Solving Portfolio.pdf" class="pdf-viewer"></iframe>
    <p>
        <a href="files/2025 - Resume - Problem Solving Portfolio.pdf" target="_blank" download>
            Download Problem Solving Portfolio
        </a>
    </p>
</div>

@code {
    protected override string FilePath => "Pages/ProblemSolvingPortfolio.razor";
}