@page "/resume-engineer"

@inherits BasePage

<PageTitle>Engineer Resume</PageTitle>

<div class="container">
    <h1>Engineer Resume</h1>
    <iframe src="files/2025 - Resume - Engineer - Full.pdf" class="pdf-viewer"></iframe>
    <p>
        <a href="files/2025 - Resume - Engineer - Full.pdf" target="_blank" download>
            Download Engineer Resume
        </a>
    </p>
</div>