@page "/resume-manager"

<PageTitle>Manager Resume</PageTitle>

<div class="container">
    <h1>Manager Resume</h1>
    <iframe src="files/2025 - Resume - Manager - Full.pdf" class="pdf-viewer"></iframe>
    <p>
        <a href="files/2025 - Resume - Manager - Full.pdf" target="_blank" download>
            Download Manager Resume
        </a>
    </p>
</div>