@page "/resumes"
@using PersonalWebsite.Components.GitHubLink
@inherits BasePage

<PageTitle>Mark J. Hogan - My Resumes</PageTitle>

<div class="container">
    <GitHubLink FullURL="@GitHubLinkUrl" />
    <h1>My Resumes</h1>
    <p>Select a resume to view:</p>
    <ul>
        <li>
            <NavLink class="nav-link" href="resume-engineer">
                <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> Engineer Resume
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="resume-architect">
                <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> Architect Resume
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="resume-manager">
                <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> Manager Resume
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="infrastructure-legacy-systems-engineering-addendumlegacy-profile-document">
                <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> Infrastructure Legacy Systems Engineering Addendum
            </NavLink>
        </li>
    </ul>
</div>

@code {
    protected override string FilePath => "Pages/Resumes.razor";
}