@page "/version"
@using PersonalWebsite.Components.GitHubLink
@inherits BasePage

<PageTitle>Web Site Information</PageTitle>

<div class="container">
    <GitHubLink FullURL="@GitHubLinkUrl" />
    <h1>Web Site Information</h1>
    <VersionInfo />
    <p>.NET Version: @DotNetVersion</p>
    <p>Blazor Version: @BlazorVersion</p>
    <p>Bootstrap version: @BootstrapVersion</p>
    <a href="https://github.com/KrazKjn/blazor_examples/tree/main/PersonalWebsite" target="_blank" rel="noopener noreferrer">
        View this project on GitHub
    </a>
    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About Microsoft Blazor...</a>
</div>

@code {
    protected override string FilePath => "Pages/Version.razor";
    private string BootstrapVersion = "Detecting...";
    private string DotNetVersion = "Detecting...";
    private string BlazorVersion = "Detecting...";

    protected override async Task OnInitializedAsync()
    {
        BootstrapVersion = await JSRuntime!.InvokeAsync<string>("getBootstrapVersion");
        DotNetVersion = System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription;
        var assembly = typeof(Microsoft.AspNetCore.Components.ComponentBase).Assembly;
        // Retrieve the custom attribute in a compatible way
        var attribute = assembly.GetCustomAttributes(typeof(AssemblyInformationalVersionAttribute), false)
                                .FirstOrDefault() as AssemblyInformationalVersionAttribute;

        BlazorVersion = attribute?.InformationalVersion.Split('+')[0] ?? "Version not found";
    }
}